:root {
--naranja-salsa: #E8560A;
    --naranja-vivo: #FF6514;
    --negro-fondo: #0A0A0A;
    --carbon: #1C1C1C;
    --gris-medio: #A0A0A0;
    --blanco-crema: #F8F4EE;
}

 body {
    margin: 0;
    padding: 0;
    font-family: 'Syne', sans-serif;
    background-color: #121212;
    background-color: radial-gradient(circle at top, #1e1e1e 0%, #121212 100%);
    color: var(--negro-fondo);
    overflow-x: hidden;

 }

 /*Aqui hare lo de la navbar*/
nav {
   display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%; 
    background-color: var(--negro-fondo); /
    position: sticky;
    top: 0;
    z-index: 1000;

}

.jh-logo {
    font-size: 3rem;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    color: var(--naranja-salsa);
    letter-spacing: 1px;
    
}
.jh-nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;

}
.jh-nav-links li a {
    text-decoration: none;
    color: var(--blanco-crema); /* creo que lo cambiare */
    font-family: 'Syne', sans-serif;
    transition: 0.3s;
    font-size: 1.05rem;
    font-weight: 600;
}
.jh-nav-links a:hover {
    color: var(--naranja-salsa);
    text-shadow: 0 0 10px var(--naranja-salsa);
}
.btns {
display: flex;
}
.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    font-weight: 600;
    background-color: var(--naranja-vivo);
    border: 2px solid var(--naranja-salsa);
    box-shadow: 0 0 10px var(--naranja-salsa);
    cursor: pointer;
    transition: 0.3s;

}



.jh-banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.jh-banner .jh-slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    }
@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateY(0deg);
    } to {        transform: perspective(1000px) rotatey(360deg);
    }
}


    .jh-banner .jh-slider .jh-item {
        position: absolute;
        inset: 0 0 0 0;
        transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
    }
    .jh-banner .jh-slider .jh-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }