:root {
--naranja-salsa: #E8560A;
    --naranja-vivo: #FF6514;
    --negro-fondo: #0A0A0A;
    --carbon: #1C1C1C;
    --gris-medio: #A0A0A0;
    --blanco-crema: #F8F4EE;
}

 body {
    margin: 0;
    padding: 0;
    font-family: 'Syne', sans-serif;
    background-color: #121212;
    background-color: radial-gradient(circle at top, #1e1e1e 0%, #121212 100%);
    color: var(--negro-fondo);
    overflow-x: hidden;

 }

 /*casi terminada*/
.jh-navbar {
   display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%; 
    background-color: var(--negro-fondo); 
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 2rem;
    background: rgba(10, 10, 10, 0.7);
    backdrop-filter: blur(12px);     
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(160, 160, 160, 0.1);
    box-shadow: 0 4px 15px rgba(10, 10, 10, 0.5);
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);

}
.jh-navbar.navbar-scrolled {
    padding: 0.8rem 5%;
    background: rgba(10, 10, 10, 0.95); /
    backdrop-filter: blur(15px);
    border-bottom: 1px solid var(--naranja-salsa);
}

.jh-logo {
    font-size: 3rem;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    color: var(--naranja-salsa);
    letter-spacing: 1px;
    
}
.jh-nav-links {
    list-style: none;
    display: flex;
    gap: 2.5rem;

}
.jh-nav-links li a {
    font-family: 'Syne', sans-serif; /* No se si cambiar la fuente, no me convence */
    font-weight: 600;
    color: var(--blanco-crema);
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    position: relative;
    
}
.jh-nav-links a:hover {
    color: var(--naranja-salsa);
    text-shadow: 0 0 10px var(--naranja-salsa);
}
.btns {
display: flex;
}
.btn {
    background-color: var(--naranja-salsa);
    padding: 0.8rem 2rem;
    border-radius: 50px; 
    font-weight: 700;
    box-shadow: 0 4px 15px rgba(232, 86, 10, 0.3); 
    border: 1px solid rgba(255, 101, 20, 0.2);
    cursor: pointer;
}
.btn:hover {
    transform: translateY(-2px);
    background-color: var(--naranja-vivo);
}



.jh-banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.jh-banner .jh-slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    }
@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateY(0deg);
    } to {        transform: perspective(1000px) rotatey(360deg);
    }
}


    .jh-banner .jh-slider .jh-item {
        position: absolute;
        inset: 0 0 0 0;
        transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
    }
    .jh-banner .jh-slider .jh-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }